.Solutions__List{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Solutions__List__Item{
    width: 800px;
    max-height: 1200px;
    display: flex;
    flex-direction: column;
}
.Solutions__List__Item__Title{

}
