.SolutionsList{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.SolutionsList__Item{
    width: 800px;
    max-height: 1200px;
    display: flex;
    flex-direction: column;
}
.SolutionsList__Item__Title{

}
